<select>
    <option value="" data-color="" selected>Transparente</option>
    <option value="#A0522D" data-color="#A0522D">sienna</option>
    <option value="#CD5C5C" data-color="#CD5C5C">indianred</option>
    <option value="#FF4500" data-color="#FF4500">orangered</option>
    <option value="#DC143C" data-color="#DC143C">crimson</option>
    <option value="#FF8C00" data-color="#FF8C00">darkorange</option>
    <option value="#C71585" data-color="#C71585">mediumvioletred</option>
    <option value="#00FF00" data-color="#00FF00">verde</option>
    <option value="#33CCFF" data-color="#33CCFF">blue</option>
    <option value="#FFFF00" data-color="#FFFF00">Amarelo</option>
    <option value="#708090" data-color="#708090">SlateGray</option>
    <option value="#00C5CD" data-color="#00C5CD">Turquoise3</option>
    <option value="#CDCD00" data-color="#CDCD00">LightYellow1</option>
    <option value="#EE6363" data-color="#EE6363">IndianRed2</option>
    <option value="#7D26CD" data-color="#7D26CD">Purple3</option>
    <option value="#363636" data-color="#363636">Gray21</option>
</select>